
body {
    overflow-y: overlay !important;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.active {
    background-color: #266fa0 !important;
    border-color: #266fa0 !important;
}

/* paginação */

.pagination {
    margin-bottom: 20px;
}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-left: 5 px;
    margin-right: 5 px;
}