{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load tool_tags %}
{% load bootstrap %}

{% block title %}
{% if category %}
{{ category.name }}
{% else %}
Ferramentas
{% endif %}
{% endblock title %}

{% block content %}

{% include 'messages.html' %}


<div class="container my-3">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Meus anúncios</h1>
        <p class="lead text-muted">Aqui você pode ver os seus anúncios.</p>
        <!-- <p>            
            {% if user.adress == '' %}
        
                <button type="button" class="btn btn-secondary my-2" data-toggle="tooltip" data-placement="top" title="Adicione seu endereço ao perfil para adicionar ferramentas!"> 
                    Adicionar Ferramentas
                </button>

            {% else %}
        
                <a class="btn btn-primary my-2" href="{% url 'tools:new_tool' %}">Adicionar Ferramentas</a>
    
            {% endif %}

          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p> -->
      </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Ferramentas</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Descrição
                                </th>
                                <th>
                                    Categoria
                                </th>
                                <th>
                                    Preço
                                </th>
                            </thead>
                            {% if tool_list %}
                            <tbody>
                                {% for tool in tool_list %}
                                    <tr>
                                        <td>
                                            {{ tool.name }}
                                        </td>
                                        <td>
                                            {{ tool.description }}
                                        </td>
                                        <td>
                                            {{ tool.category.name }}
                                        </td>
                                        <td>
                                            R$ {{ tool.price }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>         
    <!-- <form method="GET"> 
        {{ filter.form|bootstrap }} 
        <button type="submit" class="btn btn-primary"> Pesquisar </button>
    </form> -->
    
    </ul>

</div>

<div class="col-lg-9">

<div class="container my-3">

</div>
    <div class="card-deck mb-3">
        {% if tool_list %}
            {% for tool in tool_list %}
            <div class="card">
                <a href="{{ tool.get_absolute_url }}">
                    {% if tool.image %}
                    <img class="card-img-top" src="/media/{{tool.image}}" alt="">
                    {% else %}
                    <img class="card-img-top" src="{% static 'images/no_image.jpg' %}" alt="">
                    {% endif %}
                </a>
                
                <div class="card-body d-flex flex-column justify-content-between">
                    <a class="text-decoration-none text-dark" href="{{ tool.get_absolute_url }}">
                        <h5 class="card-title">{{ tool.name }}</h5>
                    </a>
                    <a class="text-decoration-none text-dark" href="{{ tool.get_absolute_url }}">
                        <p class="card-text font-weight-bold">R$ {{ tool.price }}</p>
                    </a>
                </div>
            </div>
                {% if forloop.counter|divisibleby:"3" and not forloop.last %}
        </div>
            <div class="card-deck mb-3">
                {% endif %}
            {% endfor %}
        {% else %}

            <!-- <section class="text-center">
                <p class="lead text-muted">Nenhuma ferramenta encontrada, anuncie alguma!</p>
            </section> -->

        {% endif %}
            
            {% if tool_list|length|remainder == 2 %}
            <div class="card border-0"></div>
            {% elif tool_list|length|remainder == 1 %}
            <div class="card border-0"></div>
            <div class="card border-0"></div>
            {% endif %}
        </div>
    
    {% if is_paginated %}
    {% include "pagination.html" with page=page_obj %}
    {% endif %}
</div>
</div>
</div>



{% endblock content %}

$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})