{% extends 'base.html' %}

{% block title %}Sobre Nós{% endblock title %}

{% block content %}

<div class="container my-3">
    <h1 class="font-weight-bold">Sobre nós</h1>
    <p>
        Oi, nós somos o Ártemis!
    </p>
    <p>
        O nosso objetivo principal é oferecer a primeira e melhor plataforma online de empréstimo de ferramentas que você já viu.
    </p>
    <p>
        Quem somos nós? Paulo Henrique e Fernando Miranda estudantes do curso de Engenharia de Software na Universidade de Brasília, 
        nos deparamos com a necessidade de um meio facilitador de empréstimos de ferramentas, a partir daí, idealizamos e desenvolvemos este.
    </p>
    <p>
        Gostaríamos de afirmar que a nossa principal prioridade é o nosso cliente, seja ele locador ou locatário. 
        Esperamos que nossos usuários desfrutem da experiência de empréstimo de forma simples e rápida da maneira que idealizamos.
    </p>
</div>

{% endblock content %}